.wrapper{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

}

.firstPresetItem{
  width: 100%;
  height: 100%;
}

.fullPresetItem{
  width: 100%;
  height: 100%;
}

.topRightPresetItem{
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
    border-radius: 0px 0px 0px 12px;
    overflow: hidden;
}
.bottomRightPresetItem{
  position: absolute;
  right: 0;
  bottom: -6px;
  width: 35%;
    border-radius: 12px 0px 0px 0px;
    overflow: hidden;
}
.fourPresetWrapper{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.fourPresetItem{
  width: 50%;
  height: auto;
  max-height: 100%;
  // background-color: aqua;
}