.zoom-wrapper {
  width: 50px;
  height: 152px;
  background-blend-mode: luminosity;
  background: rgba(0, 0, 0, 0.2);

  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 4px;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease;
}

.zoom-wrapper.active-up::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 18%;
  background: linear-gradient(to bottom, #e599f7, #91a7ff00);
  transition: opacity 0.3s ease;

  opacity: 0.64;
  z-index: 0;
}

.zoom-wrapper.active-down::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 18%;
  background: linear-gradient(to top, #e699f7b0, #91a7ff00);
  /* background: linear-gradient(to top, #ca97ea70, #90bffd91); */
  transition: opacity 0.3s ease;
  opacity: 0.64;
  z-index: 0;
}

.zoom-wrapper::before,
.zoom-wrapper::after {
  opacity: 0;
}

.zoom-label {
  color: rgba(255, 255, 255, 0.64);
  font-size: 24px;
  z-index: 1;
}

.zoom-thumb {
  width: 38px;
  height: 24px;
  background: white;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease;
  touch-action: none;
}

.zoom-thumb.up {
  transform: translateY(-40px);
}

.zoom-thumb.down {
  transform: translateY(40px);
}
